<!DOCTYPE html>
<html>
<head>
    <title>{{ article.title }}</title>
</head>
<body>
    <h1>{{ article.title }}</h1>
    <p>{{ article.publication_date}}</p>
    <p>{{ article.content }}</p>
    <h2>Commentaires</h2>
    <ul>
        {% for comment in article.comments.all %}
            <li>{{comment.published_date}} - {{ comment.author }}: {{ comment.content }}</li>
        {% endfor %}
    </ul>
    <h2>Ajouter un commentaire</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Envoyer</button>
    </form>
</body>
</html>
